{% extends 'base.html' %}

{% block content %}
<div class="centrar">
<h1>home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum fuga error sunt temporibus aliquid aliquam, beatae quos, laborum minima quaerat rem possimus qui, neque nobis ab. Accusantium necessitatibus recusandae, assumenda quis odit unde, error molestiae sed molestias perferendis quibusdam, quam ipsum! Rem eveniet placeat dicta mollitia, nostrum odio odit qui sit recusandae adipisci blanditiis id at asperiores repellendus molestiae incidunt nemo natus magnam debitis ratione consequatur! Vitae animi, voluptatem saepe suscipit, rerum id cumque beatae sapiente, cum aperiam consequuntur. Neque commodi, itaque tempore iusto mollitia eius ex repellendus ipsum molestias obcaecati perspiciatis quibusdam nemo, voluptatum minus dicta, doloremque laboriosam?</p>
</div>
{% endblock %}